div{
    background-color: grey;
    width: 100px;
    height: 100px;
}

*{
    background-color: lightblue;
}

.minhaclasse{
    color: aquamarine;

}

#meuid{
    color: blueviolet;

}
p{
    color: black;
}

article > p{
    font-size: 25px;
    font-style: italic;
    color: chocolate ;
}

article h1{
    color: blue;
    font-size: 15px;
}